#map_area {
  position: absolute !important;
  height: 83vh;
  width: 100%;
}
#map_zone {
  width: 100%;
  height: 94.5vh;
}
.controls {
  display: block;
  margin-left: 39%;
  margin-right: 39%;
  position: absolute;
  bottom: 10px;
  width: 22%;
}
.tracker-icon {
  width: 15%;
  margin-left: 0.8%;
  margin-right: 0.8%;
  cursor: pointer;
}
.tooltipcontrol {
  opacity: 0;
  bottom: 70px;
  width: 15%;
  height: 45px;
  background-color: #847c74a8;
  color: white;
  font-weight: 900;
  border-radius: 10px;
  margin-left: 0.8%;
  margin-right: 0.8%;
  float: left;
  position: relative;
  text-align: center;
}
.Play,
.Pause,
.Rewind {
  padding-top: 10px;
}
.datescenter {
  height: 100vh;
  position: absolute;
  width: 100vw;
  overflow: hidden;
  top: 0;
}
.alldates {
  position: absolute;
  display: none;
  z-index: 1;
  margin-left: 85px;
  margin-top: 40px;
}
.track-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #f57f20;
  font-weight: 600;
  padding: 7px;
  border-radius: 5px;
}
.track-label {
  background-color: white;
  display: block;
  padding: 3px;
  font-weight: 700;
  width: 70px;
  text-align: center;
  margin-bottom: 0;
  margin-left: 7px;
}
.picker {
  margin: 5px;
}
.time {
  bottom: 65px;
}
.date {
  bottom: 25px;
}
.name {
  bottom: 145px;
}
.phone {
  bottom: 105px;
}
.loading-text {
  width: 280%;
  margin-left: -90%;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 25px;
  text-align: center;
  color: #f5801a;
  font-weight: 600;
}
.load-details {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.labels {
  display: block;
  position: absolute;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  right: 10%;
  font-size: x-large;
  background-color: white;
  text-align: center;
}
.selector {
  left: 30px;
  width: 440px;
}
.selector,
.vehicles-tracking-dashboard__controls {
  position: absolute;
  top: 135px;
  color: #333;
  background-color: #fff;
  z-index: 200;
}
.selector--title {
  border-bottom: 5px solid #d5dbe5;
  background-color: #fff;
  padding: 10px 10px 2px 20px;
  color: #333;
  font-weight: bold;
  font-size: large;
  text-align: center;
}
.extra-info {
  font-style: italic;
  margin: 0;
}
.checkbox-time {
  color: #0082cc;
}
.vendor-name {
  font-size: 14px;
  font-weight: 100;
  margin: 5px;
}
.spacer {
  margin-left: 25px;
}
.spacer2 {
  margin-left: 24px;
}
.spacer3 {
  margin-left: 17px;
}
.vendor-check {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.selector--title__left {
  text-align: left;
}
.vehicle-tracking-info {
  padding: 20px;
}
.selector--content {
  max-height: 70vh;
  overflow: scroll;
}
.selector--content label {
  margin-bottom: 0px;
  font-weight: bold;
}
.font-14 {
  font-size: 14px;
}
.truck-img {
  height: 25px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: -15px;
}
.selector--content input[type='checkbox'] {
  margin-right: 10px;
}
.selector--checkbox {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #5888;
}
.selector--checkbox-info {
  display: block;
  padding-left: 23px;
}
.vendor--infowindow-content {
  display: flex;
  padding: 10px;
  font-weight: 600;
  font-size: 13px;
  justify-content: space-between;
}
.no-actions {
  pointer-events: none;
  opacity: 0.5;
}
.vehicles-tracking-dashboard__controls--left-control {
  display: none;
}
.no-actions--desc {
  color: red;
  font-weight: 100;
}
.vehicles-tracking-icons {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 2.35em;
}
.vehicles-tracking-dashboard__controls {
  height: 6em;
  font-size: xx-small;
  width: 3.2em;
  cursor: pointer;
  padding-left: 12px;
}
.vehicles-tracking-dashboard__controls--right-control {
  left: 47.833em;
}
@media (max-width: 1440px) {
  #map_zone {
    height: 90vh;
  }
  .controls {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
  }
}
@media (max-width: 768px) {
  .labels {
    right: 3%;
    margin-bottom: 10%;
    font-size: 17px;
    padding: 4px;
  }
}
@media (max-width: 599px) {
  #map_area {
    height: 87%;
    width: 100%;
  }
  .selector {
    min-width: 0px;
    width: 300px;
  }
  .vehicles-tracking-dashboard__controls--right-control {
    left: 37.2em;
  }
  .controls {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  }
  .tooltipcontrol {
    bottom: 35px;
  }
  .labels {
    margin-bottom: 20%;
  }
}
