.map-details--go-back {
  display: none;
}
.map-details--go-back-freight {
  text-transform: uppercase;
  color: #5294C1;
  margin: 1.2rem 0 -0.5rem 0;
  cursor: pointer;
  font-weight: 600;
}
.partner-documents-container {
  padding: 15px;
}
.freight__container {
  display: flex;
}
.partner-order-container {
  margin: 0% 3%;
}
.partner-documents-upload-title {
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}
.freight-create-order-container {
  width: 50%;
  padding: 3%;
  margin-left: 5%;
}
.pdf-icon {
  color: black;
  font-size: 60px;
}
.order-creation-porgress {
  display: flex;
  margin: 20px 0px;
}
.order-creation-progress-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 0px 0px 20px;
  width: 60%;
}
.order-creation-progress-bar {
  width: -webkit-fill-available;
  height: 30px;
}
.order-creation-location-inputs {
  border: 1px solid #dcdfe5;
  border-radius: 5px;
}
.search-result-field {
  padding: 0px 5px;
  font-weight: 600;
}
.search-results-container {
  padding: 20px 15px !important;
}
.order-creation-button {
  width: -webkit-fill-available !important;
  height: 50px !important;
  margin: 25px auto !important;
}
.order-creation-title {
  font-size: 25px;
  font-weight: 600;
  color: black;
  margin: 20px 0px;
}
.order-creation-progress-title {
  font-size: 15px;
  font-weight: 600;
}
.freight-dashboard {
  margin: 3% 5%;
  border: 0.8px solid #818181
}
.freight-dashboard-top-row {
  padding: 1% 2% 0% 2%;
}
.freight-dashboard-timeline-rows {
  border-bottom: 1px solid;
  padding: 1% 2%;
}
.freight-dashboard-empty-row {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: black;
  font-weight: 600;
}
.freight-dashboard-links {
  color: #1B7FC3;
  font-weight: 600;
  cursor: pointer;
}
.freight-dashboard-buttons {
  width: 400px;
  height: 50px;
}
.freight-dashboard-time {
  color: black;
  font-weight: 600;
  font-size: 11px;
}
.freight-dashboard-title {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.upload-cancel {
  float: right;
  font-weight: 600;
  cursor: pointer;
}
.preferences-container {
  margin: 3% 5%;
}
.preferences-table {
  border-top: 1px solid #CECECE;
  border-left: 1px solid #CECECE;
  border-right: 1px solid #CECECE;
}
.preferences-empty-table {
  border: 1px dotted grey;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 600;
  margin-top: 15px;
}
.preferences-table-row {
  display: flex;
}
.preferences-header {
  font-weight: 600;
  font-size: 15px;
}
.preferences-body {
  font-weight: 600;
  font-size: 14px;
}
.preferences-link {
  color: #527CBD;
  cursor: pointer;
}
.preferences-buttons {
  margin: 20px 0px !important;
}
.preferences-table-column {
  width: 50%;
  border-bottom: 1px solid #CECECE;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 5%;
}
.preferences-container-sections {
  margin-bottom: 50px;
}
.partner-documents-upload-button {
  color: white;
  background: #EA7125;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 700;
  margin-bottom: 20px;
}
.partner-documents-approve-button {
  color: white;
  background: #EA7125;
  border: none;
  padding: 7px 30px;
  border-radius: 5px;
  font-weight: 700;
  margin-right: 15px;
  width: 40%;
}
.partner-documents-decline-button {
  background: white;
  color: #EA7125;
  padding: 7px 30px;
  border-radius: 5px;
  font-weight: 700;
  margin: 0px 15px;
  width: 40%;
  border: 2px solid #EA7125;
}
.partner-documents-upload-rows {
  border: 1px solid #C5C5C5;
  height: 55px;
  display: flex;
  align-items: center;
}
.partner-document-view-trigger {
  color: #1B7FC3;
  font-weight: 600 !important;
  font-size: 13px !important;
  cursor: pointer;
}
.partner-documents-upload-header {
  font-size: 15px;
  padding: 10px 40px;
  font-weight: 600;
}
.partner-documents-upload-columns {
  font-size: 14px;
  padding: 10px 40px;
  font-weight: 500;
}
.partner-documents-upload-empty {
  border: 1px solid #C5C5C5;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner-request-advance-button-inactive {
  color: white;
  background: #909399;
  border: none;
  padding: 7px 30px;
  border-radius: 5px;
  font-weight: 700;
  width: 200px;
  margin: 10px 10px 10px 0px;
  height: 40px;
  pointer-events: none;
}
.partner-request-advance-button-active {
  color: white;
  background: #EA7125;
  border: none;
  padding: 7px 30px;
  border-radius: 5px;
  font-weight: 700;
  width: 200px;
  margin: 10px 10px 10px 0px;
  height: 40px;
}
.partner-upload-module {
  border: 1px dotted grey;
  height: 160px;
  margin: 10px 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.partner-documents-third-row {
  width: 20%;
}
.partner-documents-fourth-row {
  width: 40%;
}
.reject-documents-textarea {
  border: 1px solid #00000038;
  padding: 15px;
  margin: 10px 0px 30px 0px;
}
.reject-documents-buttons {
  display: flex;
  justify-content: center;
}
.reject-documents-reason {
  padding: 0px;
  color: red;
  font-style: italic;
}
.upload-documents-modal {
  padding: 10%;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.upload-documents-modal-top-row {
  display: flex;
}
.upload-documents-modal-top-row-title {
  font-size: 20px;
  color: black;
}
.upload-documents-modal-top-row-close {
  font-size: 20px;
  color: black;
  margin-left: auto;
}
.upload-documents-modal-top-input-labels {
  font-size: 14px;
  color: black;
  font-weight: 600;
  margin: 10px 0px;
}
.upload-documents-add-trigger-icon {
  margin: 20px 5px 20px 0px;
}
.upload-documents-add-trigger {
  display: flex;
  align-items: center;
  color: #1B7FC3;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.request-advance-input-labels {
  font-size: 14px;
  color: black;
  font-weight: 600;
  margin: 0px;
}
.request-advance-inputs {
  width: -webkit-fill-available !important;
  margin: 10px 0px 10px 0px;
  height: 40px;
}
.upload-documents-modal-top-inputs {
  width: -webkit-fill-available;
  height: 40px;
  padding: 10px;
  border: 1px solid #8380808c;
  border-radius: 5px;
}
.upload-documents-modal-click-icon {
  width: 20px;
  font-size: 18px !important;
}
.upload-documents-modal-click-text {
  color: #1B7FC3;
  font-size: 15px;
}
.upload-documents-modal-button {
  width: -webkit-fill-available !important;
  margin: auto;
}
.links {
  display: grid;
  width: 40%;
  grid-template-rows: 70px;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 1%;
  margin-left: 3%;
  font-size: 14px;
}
.link-tabs {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: white;
}
a:hover {
  color: black;
  text-decoration: none;
}
a {
  color: rgb(154, 172, 192);
}
.active {
  color: #f78114;
  text-decoration: none;
}
.active-tab {
  border-style: solid;
  border-bottom-width: 4px;
  border-color: #f78114;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.inactive-tab {
  border-style: solid;
  border-width: 0px;
}
.ready {
  display: none;
}
.unused {
  background-color: #fff;
}
.right-align {
  text-align: right;
}
.truckflow__container-outer {
  background-color: white;
  padding: 1%;
  margin-left: 2%;
  margin-right: 2%;
}
.filter-bidding-par {
  font-size: 17px;
  font-weight: 600;
  margin-top: 15px;
  padding-left: 1%;
}
.truckflow__container-search {
  display: grid;
  width: 100%;
  grid-template-rows: 60px;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 10px;
}
.statement__list-cash-filter {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  justify-content: flex-end;
}
.withdrawal-button-mobile {
  margin: 15px;
}
.orders__list-currency-filter-mobile {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  justify-content: center;
}
.orders__list-currencies {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid #BFD1E3;
  cursor: pointer;
}
.active-currency {
  background: #F57F20 !important;
  color: white !important;
  border: 1px solid #F57F20 !important;
}
.orders__list-cash-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
}
.orders__list-currency-filter {
  display: flex;
  align-items: center;
  height: 50px;
  width: max-content;
  float: left;
}
.orders__list-cash-selectors {
  width: 150px;
  text-align: center;
  border: 1px solid #E4E9F2;
  height: 50px;
  align-items: center;
  display: grid;
  cursor: pointer;
}
.hidden-orders {
  display: none;
}
.cash-selector-active {
  background: #FDEADB;
}
.container__search-input {
  padding: 3% 3% 3% 1%;
}
.container__search-select {
  padding: 3% 3% 3% 1%;
}
.search-button {
  grid-column: span 2;
  padding: 5%;
}
.container__search-element {
  width: 215px;
  border: 1px solid #80808099;
  color: #272727;
  border-radius: 5px;
  height: 46px;
  background-color: #fff;
  margin-right: 10px;
}
.container__search-element:disabled {
  color: #c1c0c0;
}
.container__search-element2 {
  height: 100%;
  width: 100%;
}
input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  padding-left: 12px;
}
select {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
}
button {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px !important;
}
.search-btn {
  background: #1b7fc3;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.search-btn:focus {
  outline: none;
  cursor: pointer;
}
.expanded-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1%;
}
.expanded-row-freight {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  padding: 1%;
}
.map__details-row {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
}
.map__column {
  grid-column: span 6;
  min-height: 400px;
}
.map__column-freight {
  grid-column: span 4;
}
.map__details-col {
  grid-column: span 6;
}
.order__column {
  grid-column: span 3;
  padding-left: 2%;
  padding-right: 2%;
}
.order__column-freight {
  grid-column: span 3;
  padding-left: 2%;
  padding-right: 2%;
}
.orders__bidvehicle-type-input {
  background: #ffffff;
  color: #8a8a8a !important;
  width: 50%;
  height: 30px;
  text-align: center;
  font-weight: 400;
}
.orders__assigndriver-input {
  background: #ffffff;
  color: #8a8a8a !important;
  width: 50%;
  height: 30px;
  text-align: center;
  font-weight: 400;
}
.orders__list-toprow,
.orders__list-row {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  border-top: 1px solid #8a8a8a;
  padding: 5px;
}
.orders__statuses {
  display: flex;
  font-weight: 800;
}
.order__bidtimer-duration {
  grid-template-columns: repeat(16, 1fr);
  display: grid;
  margin-bottom: 15px;
}
.order__button {
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
.intransit--order__button {
  background-color: #51a65b;
  border-color: #51a65b;
}
.complete--order__button {
  background: #1a7fc3;
  border-color: #1a7fc3;
}
.complete--order__spinner {
  border-top-color: #1a7fc3;
  float: right;
  margin: 5px;
}
.intransit--order__spinner {
  border-top-color: #51a65b;
  float: right;
  margin: 5px;
}
.notifier {
  font-style: inherit;
  font-size: 14px;
  width: 200px;
  margin-top: 10px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  position: fixed;
  right: 100px;
  text-align: center;
  z-index: 200;
}
.spinner-position {
  position: relative;
  top: 6px;
  left: 115px;
}
.order__price-estimate {
  grid-column: span 8;
}
.table-head {
  background: #8a8a8a;
  border-radius: 4px 4px 0px 0px;
  height: 55px;
  color: white;
  font-size: 14px;
  margin: -5px -1px -1px -1px;
}
.orders__col-head {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-left: 5%;
  text-transform: uppercase;
}
.uppercase {
  text-transform: uppercase;
}
#map-img {
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
}
.map__details-row {
  padding: 2%;
}
.heading {
  font-size: 14px;
  color: #8a8a8a;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}
.heading-freight {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
  color: black;
}
.map-details-row {
  margin-bottom: 30px;
}
.par {
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
}
#orders__list-table {
  width: 100%;
  border: 1px solid #8a8a8a61;
  margin-bottom: 50px;
}
.orders__list-col {
  font-size: 13px;
  padding-top: 6%;
  padding-left: 5%;
  font-weight: 400;
  /* padding: 4px; */
}
.link {
  font-size: 11px;
}
.orders__confirm-button {
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.button-menu {
  color: white;
  border-radius: 4px;
  height: 30px;
  font-size: 10px !important;
  font-weight: 600;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 70%;
  text-transform: uppercase;
  width: auto;
}
.confirmed-for-others-button-menu {
  background-color: grey;
  border-color: grey;
}
.awarded-to-you-button-menu {
  background-color: #ffc800;
  border-color: #ffc800;
}
.orders__confirm-icon {
  background-color: #51a65b;
  border-color: #51a65b;
}
.orders__confirmed-icon {
  background-color: #ffc800;
  border-color: #ffc800;
}
.cancelled-button-menu {
  background-color: purple;
  border-color: purple;
}
.orders__sendquote-icon {
  background-color: #f57f20;
  border-color: #f57f20;
}
.arrow {
  vertical-align: middle;
  height: auto;
  margin-bottom: 8px;
}
.cancel-quote {
  color: #bc5000;
  font-size: 12px;
  text-align: center;
  width: 80%;
  margin-top: 5px;
  cursor: pointer;
}
.orders__bidplaced-icon {
  background-color: #05c034;
  border-color: #05c034;
}
.orders__hidedetails-icon {
  background-color: #bc5000;
  border-color: #bc5000;
}
.order__quote-amount {
  margin-bottom: 20px;
}
.orders__confirm-button {
  color: white;
  background-color: #51a65b;
  border-color: #51a65b;
  border-radius: 4px;
  height: 39px;
  font-size: 14px;
  font-weight: 600;
  width: 80%;
  text-transform: uppercase;
}
.orders__confirmed-button {
  color: white;
  background-color: #ffc800;
  border-color: #ffc800;
  border-radius: 4px;
  height: 39px;
  font-size: 14px;
  font-weight: 600;
  width: 80%;
  text-transform: uppercase;
}
.orders__addvehicle {
  margin-top: 5px;
  color: #1b7fc3;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  cursor: pointer;
}
.send-driver {
  margin-top: 5px;
  color: #1b7fc3;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  cursor: pointer;
}
.orders__add-driver {
  margin-top: 5px;
  color: #1b7fc3;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  cursor: pointer;
}
.select-font {
  font-weight: 400;
  font-size: 14px;
}
.center-action {
  display: flex;
  justify-content: center;
}
.small {
  zoom: 4%;
}
.large {
  zoom: 120%;
}
.td-1 {
  z-index: 10;
}
.icon {
  zoom: 70%;
}
.orders__bid-input {
  width: 80%;
  height: 35px;
  margin-bottom: 8px;
  padding-left: 7px;
}
.disabled {
  background: #e1e3e8;
  border-color: #e1e3e8;
  color: #f6f6f6 !important;
}
.orders__disabled-button {
  color: white;
  background-color: #cacaca;
  border-color: #cacaca;
  border-radius: 4px;
  height: 39px;
  font-size: 14px;
  font-weight: 600;
  width: 80%;
  text-transform: uppercase;
  margin-top: 10px;
}
.orders__sendquote-button {
  color: white;
  background-color: #51a65b;
  border-color: #51a65b;
  border-radius: 4px;
  height: 39px;
  font-size: 14px;
  font-weight: 600;
  width: 80%;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
.message-box-down {
  animation: dropdown 1s;
  bottom: -140px;
}
@keyframes dropdown {
  from {
    bottom: 20px;
  }
  to {
    bottom: -140px;
  }
}
.message-box-up {
  animation: goup 1s;
  bottom: 20px;
}
@keyframes goup {
  from {
    bottom: -140px;
  }
  to {
    bottom: 20px;
  }
}
.blinder {
  position: absolute;
  background: #0000004d;
  width: 100%;
  height: 100%;
  display: flex;
}
.open-row {
  position: relative;
}
.confirm-cancel {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background: white;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}
.cancel-par {
  font-weight: 600;
}
.yes,
.no {
  width: 35%;
  margin-left: 2%;
  margin-right: 2%;
  height: 33px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.yes {
  background: #bc5000;
}
.no {
  background: #f57f20;
}
.message {
  margin-bottom: 0px;
  margin: 7%;
  text-align: center;
  color: white;
}
.confirmed {
  background-color: #ffe000;
}
.failed {
  background-color: #ff1800;
}
.no-selection {
  background-color: #00b8ff;
}
.bid_placed {
  background-color: #05c034;
}
.no-quotes {
  width: 100%;
  text-align: center;
  background: #f6f6f6;
  border-radius: 5px;
  height: 40px;
}
.price-align {
  display: grid;
  justify-content: flex-end;
  padding-right: 10%;
}
.order__estimate-amount {
  color: #f78114;
  font-weight: 600;
  font-size: 15px;
}
.timePrefix {
  font-size: 21px;
  text-align: center;
  zoom: 2;
  margin-bottom: 1em;
  margin-top: 0px;
}
.timeSuffix {
  font-size: 15px;
  text-align: center;
  margin-bottom: -10px;
  margin-top: -15px;
  width: max-content;
}
.mini {
  zoom: 16;
}
.pickup {
  grid-column: span 3;
}
.destination {
  grid-column: span 3;
}
.distance {
  grid-column: span 1;
  text-align: center;
  display: grid;
  justify-content: left;
  align-items: center;
}
.pick-date {
  grid-column: span 2;
}
.truck {
  grid-column: span 1;
}
.orderNo {
  grid-column: span 2;
}
.price-align {
  grid-column: span 1;
}
.pickup-freight {
  grid-column: span 3;
}
.destination-freight {
  grid-column: span 3;
}
.pick-date-freight {
  grid-column: span 3;
}
.truck-freight {
  grid-column: span 2;
}
.client-freight {
  grid-column: span 2;
}
.price-align-freight {
  grid-column: span 2;
}
.center-action-freight {
  grid-column: span 2;
}
.bid-in {
  grid-column: span 1;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.center-action {
  grid-column: span 2;
}
.load {
  display: none;
  grid-column: span 2;
}
.map {
  border: 1px solid #fff;
  border-width: 1px;
  background-color: rgb(236, 236, 236);
  width: 85%;
  height: 200px;
}
.map-freight {
  border: 1px solid #fff;
  border-width: 1px;
  background-color: rgb(236, 236, 236);
  width: 90%;
  height: 200px;
}
.orders__mobile-col {
  display: none;
  text-transform: uppercase;
}
.force-leftalign {
  justify-content: flex-start;
}
.orders__buttons {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  font-size: 12px;
  text-align: center;
  margin-bottom: 0px;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}
.confirmedbutton {
  color: #ffc800 !important;
}
.in-transitButton {
  color: #51a65b !important;
}
.deliveredButton {
  color: #1b7fc3 !important;
}
.pendingDnotes {
  color: red !important;
}
.cancelledButton {
  color: purple !important;
}
.assigned {
  height: 30%;
  margin-top: 10%;
}
.loading {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #f78114;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.no-records {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}
.tooltiptext {
  display: none;
  width: 120px;
  background-color: #00000099;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px 0;
  position: absolute;
  z-index: 1;
  margin-top: 24px;
}
.row1,
.row2 {
  float: left;
  cursor: pointer;
}

.order-range {
  display: none;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: solid;
  border-width: 1px;
  border-color: #c2c2c2;
  color: black;
}

@media only screen and (max-width: 425px) {
  .order-range {
    display: block;
  }
  .bids {
    background-color: #ffffff;
  }
  .load {
    display: block;
    grid-column: span 2;
  }
  .pickup {
    grid-column: span 2;
  }
  .destination {
    grid-column: span 2;
  }
  .distance {
    grid-column: span 2;
  }
  .pick-date {
    grid-column: span 2;
  }
  .truck {
    grid-column: span 1;
  }
  .orderNo {
    grid-column: span 2;
  }
  .price-align {
    grid-column: span 1;
    color: #51a65b;
  }
  .bid-in {
    grid-column: span 2;
    display: none;
  }
  .arrow {
    margin-bottom: -28px;
    margin-left: -25px;
  }
  .center-action {
    grid-column: span 4;
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding-right: 1rem;
  }
  .center-action--lower {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 0.8rem;
  }
  .orders__list-toprow {
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    /* box-shadow:  0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02); */
    margin-bottom: 25px;
    border: 1px solid #8080807a;
  }
  .expanded-row {
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    margin-bottom: 25px;
    padding: 10px;
  }
  .map__column {
    grid-column: span 4;
  }
  .order__column {
    grid-column: span 4;
    padding-left: 0%;
    padding-right: 0%;
  }
  .truckflow__container-outer {
    background-color: #ffffff00;
  }
  .table-head {
    display: none;
    margin-bottom: 0.4em;
  }
  .map {
    width: 98%;
    margin-left: 1%;
  }
  .map__details-row {
    padding: 0%;
  }
  .orders__mobile-col {
    display: grid;
    color: #8a8a8a;
    margin-bottom: 0.4em;
    text-transform: uppercase;
  }
  .orders__list-row {
    grid-template-columns: repeat(4, 1fr);
    border-style: solid;
    margin-bottom: 25px;
    border: 1px solid #8080807a;
  }
  .price-align {
    display: grid;
    justify-content: flex-start;
    padding-right: 0%;
  }
  .orders__list-col,
  .map__details-col p:nth-of-type(1),
  .heading {
    font-size: 15px;
  }
  .orders__list-col p:nth-of-type(2),
  .map__details-col p:nth-of-type(2) {
    font-size: 15px;
    color: #000000;
  }
  .price-align p:nth-of-type(2) {
    color: #51a65b;
  }
  .center-action .orders__mobile-col {
    display: none;
  }
  .orders__confirm-icon,
  .orders__confirm-button,
  .orders__sendquote-icon {
    font-size: 16px;
    font-weight: 600;
  }
  .orders__confirm-icon,
  .orders__confirm-button,
  .orders__sendquote-icon {
    min-width: 100%;
    padding: 10px 20px;
    height: unset;
  }
  .orders__bidvehicle-type-input,
  .orders__assigndriver-input,
  .orders__bid-input {
    width: 100%;
    height: unset;
    padding: 10px 20px;
    border: 1px solid rgb(166, 166, 166);
  }
  .message-box {
    width: 100%;
  }
  .container__search-input {
    grid-column: span 6;
    padding: 5%;
  }
  .container__search-select {
    padding: 3% 3% 3% 1%;
  }
  .search-button {
    grid-column: span 6;
    padding: 5%;
  }
  .select-font {
    background-color: white;
    color: #c3c3c3;
    border: white;
    border-radius: 0px;
  }
  .search-btn {
    line-height: 30px;
  }
  .links {
    width: 100%;
  }
  .secnav-page {
    padding: 0px 4px;
    text-align: center;
    height: 100%;
    width: 4.667%;
    font-size: 17px;
  }
  .force-leftalign {
    justify-content: center;
  }
  .secondary-inner {
    white-space: nowrap;
  }
  .secnav-container {
    white-space: nowrap;
  }
  .orders__list-col {
    font-size: 15px;
  }
  .orders__list-col p:nth-of-type(2) {
    font-size: 15px;
    color: #000000;
  }
  .price-align p:nth-of-type(2) {
    color: #51a65b;
  }
  .center-action .orders__mobile-col {
    display: none;
  }
  .orders__confirm-icon {
    font-size: 16px;
    font-weight: 600;
  }
  .orders__confirm-icon {
    min-width: 100%;
    padding: 10px 20px;
    height: unset;
    box-shadow: none;
    border: 0px;
  }
  .orders__mobile-col--distance {
    display: flex;
  }
  .map-details--go-back {
    display: inline-block;
    text-transform: uppercase;
    color: #8a8a8a;
    margin: 1.2rem 0 -0.5rem 0;
    cursor: pointer;
  }
  .map-details-go-back--icon {
    font-size: 15px !important;
    zoom: unset;
  }
  .map-details-go-back--span {
    position: relative;
    margin-left: 10px;
    top: -1px;
  }
  .truckflow__container-search {
    display: none;
  }
  .orders__list-table {
    border: none !important;
  }
  .truckflow__container-tab {
    overflow-x: hidden;
  }
  .message {
    color: white;
  }
}
@media only screen and (max-width: 768px) {
  .truckflow__container-search {
    display: none;
  }
  .map__column-freight {
    grid-column: span 12;
  }
  .order__column-freight {
    grid-column: span 6;
  }
  .partner-documents-upload-rows {
    height: 100px;
  }
  .partner-documents-approve-button,
  .partner-documents-decline-button {
    font-size: 10px !important;
    padding: 10px !important;
    width: 100%;
    margin: 2px 1%;
  }
  .freight-dashboard-buttons {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
}
